@import "../veriable/variable";


.wrapper_travel {
  width: 90%;
  margin: 0 auto;
  //display: flex;
  //justify-content: center;
  //flex-direction: column;
}

@media (max-width: 1130px) {

}

@media (max-width: 990px) {

}

@media (max-width: 820px) {
  .wrapper_travel {
  }
}
@media (max-width: 770px) {
  .wrapper_travel {
    margin-top: 0;
  }

}