@import "../veriable/variable";

.gallery {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
  align-self: flex-end;

  &_box {

    width: 25%;
    margin: 1%;
    transition: all .5s linear;
    position: relative;
    display: flex;
    align-self: flex-end;


    & a {
      display: block;
      position: relative;
      //text-decoration:none;
      transition: all .5s linear;

      &:hover {
        transform: scale(1.15);
        background-image: none;

        transition: all .5s linear;

        & + span {

          opacity: 0;
          transition: all .3s linear;

        }

      }

      & img {
        display: block;
        background-size: cover;
        width: 100%;
        max-height: 400px;
        transition: all .5s linear;
        border-radius: 10px;
        background: rgba(0, 0, 0, .9);
        overflow: hidden;


        &:hover {
          border-radius: 40px;
        }

      }
    }

    & span {
      width: 80%;
      max-height: 20px;
      overflow: hidden;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      //width: 100%;
      transition: all .3s linear;
      color: $secondColor;
      //height: 100%;


      &:before {
        content: '';
        position: absolute;
        background-color: #ffffff;
        height: 20px;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        //width: 100%;
        opacity: 0.2;
        transition: all .3s linear;
        border-radius: 30px;

      }
    }
  }
}

@media (max-width: 992px) {
  .gallery {
    &_box {
      width: 40%;
    }
  }
}

@media (max-width: 777px) {
  .gallery {
    &_box {
      width: 95%;
    }
  }
}